<!--演示使用ajax获取服务器数据-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <!--    引入bootstrap样式文件-->
    <link rel="stylesheet" th:href="@{/assets/bootstrap-5.1.3/css/bootstrap.min.css}">
</head>
<body>
<div class="container-fluid">
    <h3>1.演示简单的文件上传</h3>
    <form class="col-4" th:action="@{/singlefile_upload}" method="post" enctype="multipart/form-data" id="userForm">
        <div class="mb-3">
            <label for="formFile" class="form-label">单文件上传</label>
            <input class="form-control" type="file" name="file" id="formFile">
        </div>
        <button class="btn-primary btn mb-3">上传</button>
    </form>
<!--    显示上传成功的消息-->
     <th:block th:if="${msg}!=null">
         <div id="reset">
             <p class="text-success" th:text="${msg}"></p>
             <p>文件名:<span th:text="${filename}"></span>;大小:</p><span th:text="${filesize}"></span>;字节:<a th:href="@{${fileurl}}">下载</a></p>
         </div>
     </th:block>
</div>
</body>

</html>