<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>用户管理</title>
    <!--  引入共同的样式文件  -->
    <th:block th:include="~{fragment/imports::imports}"></th:block>
</head>
<body>
<div id="app">
    <!--头部导航栏-->
    <header th:replace="/fragment/header::header"></header>
    <!--//导航栏-->
    <!--页面主体-->
    <main class="container-fluid main">
        <div class="row">
            <!--    侧边导航栏-->
            <aside th:replace="/fragment/sidebar::sidebar"></aside>
            <!--        //ened of 侧边导航栏-->
            <div class="col-md-10">
                <!--面包屑-->
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="#">主页</a></li>
                        <li class="breadcrumb-item active" aria-current="page">用户管理</li>
                    </ol>
                </nav>
                <!--ened of 面包屑-->

                <!--搜索栏-->
                <div class="bg-light pt-1 pb-1 ps-2">
                    用户名: <input type="text" class="mb-2 me-3" id="username" placeholder="用户名"
                                v-model="queryParams.username">
                    Email: <input type="text" class="mb-2 me-3" id="email"
                                  v-model="queryParams.email" placeholder="Email地址">
                    手机号: <input type="text" class="mb-2 me-3" id="phoneNumber"
                                v-model="queryParams.phoneNumber" placeholder="手机号码">
                    <label for="userStatus" class="mb-2 me-1">状态:</label>
                    <select class="mb-2 mp-2 me-3" id="userStatus" v-model="queryParams.status">
                        <option selected="" value="">选择</option>
                        <option value="1">激活</option>
                        <option value="0">禁用</option>
                    </select>
                    <button type="button" @click="query" class="btn btn-success  mb-2 me-2">
                        <i class="fa fa-search fa-fw "></i>查找
                    </button>
                    <button type="button" @click="reset" class="btn btn-secondary mb-2 ">
                        <i class="fa   fa-refresh fa-fw"></i>返回
                    </button>
                </div>
                <!--end of 搜索栏-->
                <!--   按钮工具栏-->
                <div>
                    <a class="btn btn-primary me-1" href="#" @click="openAddModal"> <i
                            class="fa fa-plus"></i> 添加</a>
                    <a class="btn btn-primary me-1" href="#" @click="delBatch"> <i
                            class="fa fa-remove"></i> 删除</a>

                    <span class="float-end">
                    <a class=" btn btn-success me-1" href="#"> <i
                            class="fa fa-upload"></i> 导入</a>
                    <a class=" btn btn-success me-1" href="#" @click="exportFile"> <i
                            class="fa fa-download"></i> 导出</a>
                    </span>
                </div>
                <!-- end of   按钮工具栏-->
                <!--     数据列表-->
                <table class="table table-striped">
                    <thead>
                    <th>#</th>
                    <th>用户名</th>
                    <th>电子邮箱</th>
                    <th>手机号码</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>头像</th>
                    <th>操作</th>
                    </thead>
                    <tr v-for="(user,index) in userList">
                        <td>{{queryParams.pageSize* (queryParams.currentPage-1)+index+1}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.phoneNumber}}</td>

                        <td>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" role="switch"
                                       id="flexSwitchCheckDefault"
                                       v-model="user.status">
                            </div>
                        </td>
                        <td>{{user.createdTime}}</td>
                        <td><img src="/site/pic/avatar1.png" height="40"></td>
                        <td><a class="link-danger me-1" href="#"
                               @click="del(index, user.id)"><i class="fa-remove fa"></i>删除</a>
                            <a class="link-success me-1" href="#" @click="view(user.id)">
                                <i class="el-icon-view"></i>查看
                            </a>
                            <a class="link-primary" href="#" @click="openEditModal(user.id)">
                                <i class="fa-edit fa"></i>编辑</a></td>
                    </tr>
                </table>
                <!--  end of 数据列表 -->
                <!--                element ui 分页插件-->
                <div class="block">
                    <el-pagination
                            @size-change="handleSizeChange"
                            @current-change="handleCurrentChange"
                            :current-page="queryParams.currentPage"
                            :page-sizes="[10, 15, 25, 50]"
                            :page-size="queryParams.pageSize"
                            layout="total, sizes, prev, pager, next, jumper"
                            :total="total">
                    </el-pagination>
                </div>
            </div>
        </div>
    </main>
    <!-- 用户详情 Modal -->
    <div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!--            弹出框头部-->
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-file-photo-o text-primary"></i> 详情</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--            弹出框主体-->
                <div class="modal-body">
                    <br>用户名：{{user.username}}<br>
                    <br>电子邮箱：{{user.email}}<br>
                    <br>手机号码：{{user.phoneNumber}}<br>
                    <br>状态：<span>{{user.status | statusFormat}}</span><br>
                    <br>注册时间：{{user.createdTime}}<br>
                    <br>头像：<img v-bind:src="user.avatarUrl" height="90"><br>
                    <br>备注：{{user.remark}}<br>
                </div>
                <!--            弹出框底部-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                </div>
            </div>
        </div>
    </div>
    <!--end of 用户详情-->
    <!-- 用户编辑弹出框 Modal -->
    <div class="modal fade " id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content ">
                <!--            弹出框头部-->
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><i class="fa fa-edit text-primary fa-lg"></i> 编辑
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--            弹出框主体-->
                <div class="modal-body" id="modal-body1">
                    <form class="needs-validation" novalidate>

                        <label class="me-3 mb-2">用户名:</label><input class="col-md-8" type="text"
                                                                    v-model="user.username">
                        <p></p>
                        <label class="me-3 mb-2">电子邮件:</label><input class="col-md-8" type="email"

                                                                     v-model="user.email">
                        <p></p>
                        <label class="me-3 mb-2">手机号码:</label><input class="col-md-8" type="text"
                                                                     v-model="user.phoneNumber">
                        <p></p>
                        <label class="me-3 mb-2">状态:</label>
                        <input type="radio" id="enable" v-model="user.status" value="1"/>
                        <label for="enable">激活</label>
                        <input type="radio" id="disable" v-model="user.status" value="0"/>
                        <label for="disable">停用</label>
                        <p></p>
                        <label class="me-3 mb-2">备注:</label><br><textarea v-model="user.remark" cols="40" rows="6"
                                                                          class="offset-2">
                    </textarea>
                    </form>
                </div>
                <!--            弹出框底部-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="update">更新</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end of 用户编辑弹出框 Modal -->

    <!-- 添加用户弹出框 Modal -->
    <div class="modal fade " id="addModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content ">
                <!--            弹出框头部-->
                <div class="modal-header">
                    <h5 class="modal-title"><i class="fa fa-user text-primary fa-lg"></i> 新增</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <!--            弹出框主体-->
                <div class="modal-body">
                    <form class="needs-validation" novalidate>

                        <label class="me-3 mb-2">用户名:</label><input class="col-md-8" type="text"
                                                                    v-model="addForm.username">
                        <p></p>
                        <label class="me-3 mb-2">电子邮件:</label><input class="col-md-8" type="email"

                                                                     v-model="addForm.email">
                        <p></p>
                        <label class="me-3 mb-2">手机号码:</label><input class="col-md-8" type="text"
                                                                     v-model="addForm.phoneNumber">
                        <p></p>
                        <label class="me-3 mb-2">备注:</label><br><textarea v-model="addForm.remark" cols="40" rows="6"
                                                                          class="offset-2">
                    </textarea>
                    </form>
                </div>
                <!--            弹出框底部-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" @click="add">新增</button>
                </div>
            </div>
        </div>
    </div>
    <!-- end of 用户编辑弹出框 Modal -->
</div>
<!//- 页面主体--->
<footer th:replace="/fragment/footer::footer">
</footer>
<script src="/site/js/user.js"></script>

</body>
</html>
