<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!--    侧边导航栏-->
<aside class="col-md-3 col-lg-2 d-md-block bg-white sidebar collapse" th:fragment="sidebar">
    <ul class="list-unstyled ps-0">
        <li class="mb-2">
            <a class="btn btn-toggle align-items-center rounded" href="#">
                <i class="fa fa-home fa-fw fa-lg"></i>控制台
            </a>
        </li>
        <li class="mb-2">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#dashboard-collapse" aria-expanded="false">
                <i class="fa fa-ticket fa-fw fa-lg"></i>票据管理
            </button>
            <div class="collapse" id="dashboard-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded ">票据列表</a></li>
                    <li><a href="#" class="link-dark rounded ">票据审核</a></li>
                </ul>
            </div>
        </li>
        <li class="mb-2">
            <button class="btn btn-toggle align-items-center rounded" data-bs-toggle="collapse"
                    data-bs-target="#orders-collapse" aria-expanded="true">
                <i class="fa fa-gears fa-fw fa-lg"></i>系统管理
            </button>
            <div class="collapse show" id="orders-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">用户管理</a></li>
                    <li><a href="#" class="link-dark rounded">角色管理</a></li>
                    <li><a href="#" class="link-dark rounded">权限管理</a></li>
                    <li><a href="#" class="link-dark rounded">操作日志</a></li>
                    <li><a href="#" class="link-dark rounded">系统配置</a></li>
                </ul>
            </div>
        </li>
        <li class="border-top my-3"></li>
        <li class="mb-1">
            <button class="btn btn-toggle align-items-center rounded collapsed" data-bs-toggle="collapse"
                    data-bs-target="#account-collapse" aria-expanded="false">
                <i class="fa fa-user fa-fw fa-lg"></i>个人账号
            </button>
            <div class="collapse" id="account-collapse" style="">
                <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" class="link-dark rounded">个人信息</a></li>
                    <li><a href="#" class="link-dark rounded">密码修改</a></li>
                    <li><a href="#" class="link-dark rounded">绑定邮箱</a></li>
                    <li><a href="#" class="link-dark rounded">Sign out</a></li>
                </ul>
            </div>
        </li>
    </ul>
</aside>
<!--        //ened of 侧边导航栏-->
</html>
