<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<footer class="footer mt-auto py-3" th:fragment="footer">
    <div class="text-center">
        <span class="text-muted">Place sticky footer content here.</span>
    </div>
    <script th:src="@{/assets/bootstrap-5.1.3/js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{/assets/axios/axios.min.js}"></script>
    <script th:src="@{/assets/vue/vue.min.js}"></script>
<!--    引入element-ui的js文件-->
    <script th:src="@{/assets/element-ui2/theme-chalk/js/index.js}"></script>
    <script th:src="@{/site/js/message.js}"></script>
</footer>
</html>
