<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="common/layout::head(title='角色列表')"/>
</head>
<body>
<!--导航栏-->
<header th:replace="common/layout::header"></header>
<!--//导航栏-->
<!--页面主体-->
<main class="container-fluid main">
    <div class="row">
        <!--    侧边导航栏-->
        <aside th:replace="common/layout::side_menu"></aside>
        <!--        //侧边导航栏-->
        <div class="col-md-10">
            <!--面包屑-->
            <div th:replace="common/layout::breadcrumb(subpath='角色列表')"></div>
            <div>
                <div id="userSearchForm" class="card-body">
                    <div class="form-inline">
                        <input type="text" class="form-control col-md-2 mb-2 mr-sm-2" id="username" name="username"
                               placeholder="角色名称">
                        <input type="text" class="form-control col-md-2 mb-2 mr-sm-2" id="role" name="username"
                               placeholder="权限字符">
                        <label for="userStatus" class="mb-2 mr-sm-2">状态</label>
                        <select class="custom-select mb-2 mr-sm-5 col-md-2" name="enable"
                                id="userStatus">
                            <option selected="" value="">选择</option>
                            <option value="1">激活</option>
                            <option value="0">禁用</option>
                        </select>
                        <button type="button" onclick="queryUsers();" class="btn btn-success  mb-2 mr-sm-3">查找
                        </button>
                        <button type="button" onclick="resetSearchForm();" class="btn btn-secondary mb-2 mr-sm-3">返回
                        </button>
                    </div>
                </div>
            </div>
            <a class="btn btn-primary text-light" style="margin: 5px;" onclick="openAddModal()"> <i
                    class="fa fa-plus text-light"></i> 添加角色</a>
            <!--            内容显示主要面板-->
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>#</th>
                    <th>角色标识符</th>
                    <th>角色名称</th>
                    <th>描述</th>
                    <th>状态</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="sysRole, s : ${sysRoleList}">
                    <td th:text="${s.count}"></td>
                    <td th:text="${sysRole.role}"></td>
                    <td th:text="${sysRole.roleName}"></td>
                    <td th:text="${sysRole.description}"></td>
                    <td>
                        <div class="custom-control custom-switch">
                            <input type="checkbox" class="custom-control-input" th:id="${'statusSwitch'+s.count}"
                                   th:checked="${sysRole.status==1}"
                                   th:onclick="changeStatus('[[${sysRole.id}]]', [[${sysRole.status}]])">
                            <label class="custom-control-label" th:for="${'statusSwitch'+s.count}"></label>
                        </div>
                    </td>
                    <td th:text="${sysRole.createdTime}"></td>
                    <td>
                        <a class="btn btn-sm btn-success text-light"
                           th:onclick="openViewModal([[${sysRole.id}]])">
                            <i class="fa fa-eye"></i> 详情</a>
                        <a th:onclick="deleteSysRole([[${sysRole.id}]])"
                           class="btn btn-sm btn-warning ">
                            <i class="fa fa-remove"></i> 删除</a>
                        <a th:onclick="openEditModal([[${sysRole.id}]])"
                           class="btn btn-sm btn-info text-light">
                            <i class="fa fa-edit"></i> 编辑</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
<!//- 页面主体--->


<!--添加模态框-->
<div class="modal fade" id="addModal" tabindex="-1" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--            弹出框头部-->
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel"><i class="fa fa-plus text-primary"></i> 添加角色</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="addModalBody">
                ...
            </div>
        </div>
    </div>
</div>

<!--编辑的模态框-->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--            弹出框头部-->
            <!--            <div class="modal-header">-->
            <!--                <h5 class="modal-title" id="editModalLabel"><i class="fa fa-plus text-primary"></i> 编辑角色</h5>-->
            <!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--                    <span aria-hidden="true">&times;</span>-->
            <!--                </button>-->
            <!--            </div>-->
            <div class="modal-body" id="editModalBody">
                ...
            </div>
        </div>
    </div>
</div>

<!--详情模态框-->
<div class="modal fade" id="viewModal" tabindex="-1" aria-labelledby="viewModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--            弹出框头部-->
            <!--            <div class="modal-header">-->
            <!--                <h5 class="modal-title" id="viewModalLabel"><i class="fa fa-plus text-primary"></i> 角色详情</h5>-->
            <!--                <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
            <!--                    <span aria-hidden="true">&times;</span>-->
            <!--                </button>-->
            <!--            </div>-->
            <div class="modal-body" id="viewModalBody">
                ...
            </div>
        </div>
    </div>
</div>

<div th:replace="common/layout::footer"></div>
</body>
<script th:inline="javascript">
    let viewUrl = '/sysRole/';
    let addUrl = '/sysRole/add';
    let editUrl = '/sysRole/edit/';
    let delUrl = '/sysRole/delete/';
    let changeStatusUrl = '/sysRole/changeStatus/';

    /**
     * 删除记录
     */
    function deleteSysRole(id) {
        if (confirm("是否确定删除记录") == true) {
            let config = {
                method: 'get',
                url: delUrl + id,
                success: function (res) {
                    Message.success("角色删除成功!");
                    //重新刷新当前页面
                    setTimeout(() => window.open("/sysRole", "_self"), 500);
                }
            }
            $.ajax(config);
        }
    }

    /**
     * 打开添加对话框，并远程加载添加界面
     */
    function openAddModal() {
        // alert("test")
        let config = {
            method: 'get',
            url: addUrl,
            success: function (res) {
                $('#addModalBody').html(res);
                $('#addModal').modal('show');
            },
            error: function () {
                console.log(' ajax 错误');
            }
        }
        $.ajax(config);
    }

    /**
     * 查看
     */
    function openViewModal(id) {
        // alert("test")
        let config = {
            method: 'get',
            url: viewUrl + id,
            success: function (res) {
                $('#viewModalBody').html(res);
                $('#viewModal').modal('show');
            }
        }
        $.ajax(config);
    }

    function openEditModal(id) {
        let config = {
            method: 'get',
            url: editUrl + id,
            success: function (res) {
                $('#editModalBody').html(res);
                $('#editModal').modal('show');
            }
        }
        $.ajax(config);
    }

    //更新状态
    function changeStatus(id, status) {
        if (confirm("是否修改状态") == true) {
            //获取修改后的状态
            let newStatus = (status == 1) ? 0 : 1;
            //转化为json对象
            let data = {
                id: id,
                status: newStatus
            }
            let config = {
                method: 'post',
                contentType: 'application/json',
                url: changeStatusUrl,
                //序列化为json字符串进行传输
                data: JSON.stringify(data),
                success: (res) => {
                    Message.success("状态更新成功!");
                    //重新刷新当前页面
                    setTimeout(() => window.open("/sysRole", "_self"), 500);
                }
            }
            $.ajax(config);
        }
    }


</script>


</html>
